Repository casassg/test-automerge, changes with the labels that .github/labeler.yml gives for each.
All labels: proposals, project1, project2, project3

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
proposals:
- proposals/**/*

# Add 'label2' to any file changes within 'example2' folder
project1: project1/**/*
project2: project2/**/*
project3: project3/**/*

Update automerge.yml
  .github/workflows/automerge.yml
Labels: none

Update test.md
  proposals/test.md
Labels: proposals

Update test.md
  proposals/test.md
Labels: proposals

Update test.md (#30)
  proposals/test.md
Labels: proposals

Update test.md
  proposals/test.md
Labels: proposals

Update README.md
  README.md
Labels: none

Update test.py
  project1/test.py
Labels: project1
