Repository casassg/test-automerge, pull requests merged in 2021-09, with the labels that each got.

#6 Update test.py
  CODEOWNERS
  project1/test.py
  proposals/a.md
Labels: needs-lgtm, lgtm, merge-ready

#12 Testing from a separate account
  proposals/a.md
Labels: lgtm, merge-ready, proposals

#15 Update test3.md
  proposals/test3.md
Labels: lgtm, merge-ready, proposals

#16 Update README.md
  README.md
Labels: lgtm, merge-ready

#18 Update test.2
  proposals/test.2
Labels: lgtm, merge-ready, proposals

#19 Update README.md
  README.md
Labels: lgtm, merge-ready

#20 Update test.md
  proposals/test.md
  proposals/test3.md
Labels: lgtm, merge-ready, proposals

#23 Update ci.yml
  proposals/a.b
Labels: lgtm, merge-ready, proposals

#27 Update test2.md
  proposals/test2.md
Labels: lgtm, merge-ready, tfxa:proposals

#28 Update a.b
  proposals/a.b
Labels: lgtm, merge-ready

#25 Update test.2
  proposals/test.2
Labels: lgtm, merge-ready

#13 Create test
  proposals/test
Labels: lgtm, merge-ready

#29 Update automerge.yml
  .github/workflows/automerge.yml
Labels: lgtm, merge-ready, needs-manual-merge

#30 Update test.md
  proposals/test.md
Labels: lgtm, merge-ready, proposals

#31 Update test.md
  README.md
  proposals/test.md
Labels: lgtm, merge-ready, proposals, readme
